scm.tag=1.0.0-alpha3
project.rel.com.github.nruzic.commons.conventions\:nruzic-commons-conventions=1.0.0-alpha3
project.dev.com.github.nruzic.commons.conventions\:nruzic-commons-conventions=1.0.0-alpha4-SNAPSHOT
